  @font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-Regular.ttf) format('truetype');
}

html {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    -webkit-app-region: drag;
    width: 400px;
    height: 48px;
    padding: 0;
    margin: 0;
    background-color: #2C2E3B;
}

.btn-icon {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

/* index.html */
#btn-pause-play-wrapper, #btn-pause-play, #label-title,
#label-artist, #right-section, #btn-close,
#label-volume-wrapper {
	position: absolute;
	-webkit-app-region: no-drag;
}

#btn-pause-play-wrapper {
    left: 0;
    top: 0;
    bottom: 0;
    width: 48px;
    height: 100%;
    cursor: pointer;
    -webkit-app-region: no-drag;
    background-color: #EC1A55;
}

#btn-pause-play {
    left: 16px;
    top: 16px;

    cursor: pointer;
}

#btn-pause-play:hover {
    transform: scale(1.05);
}

.btn-pause {background-image: url(pause.png);}
.btn-play {background-image: url(play.png);}

h1, h2 {
	margin: 0;
	padding: 0;
	font-weight: lighter;
}

/* h1 is used for the song title text */
h1 {font-size: 11pt;}

/* h2 is used for the artist and volume text */
h2 {font-size: 8pt;}

#label-title, #label-artist {
    left: 55px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
}

#label-title {
    top: 6px;
}

#label-artist {
    top: 28px;
}

#right-section {
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;

    border-left: 1px solid #1D1F2B;
    background-color: #2C2E3B;
}

#btn-close {
    right: 6px;
    top: 6px;

    background-image: url(close.png);
    cursor: pointer;
}

#label-volume-wrapper {
    right: 8px;
    bottom: 4px;
}
/* end index.html */
/* login.html */
#login-form {
    padding: 20px 50px;
    -webkit-app-region: drag;
}

#login-form label,
#login-form input,
#login-form button {
    font-size: 14px;
    color: white;
}

#login-form input,
#login-form button {
    -webkit-app-region: no-drag;
}

#login-form input {
    margin-top: 10px;
    background-color:  rgb(236, 26, 85);
    border: 0;
    border-bottom: 1px solid rgb(180, 26, 85);
    display: block;
    outline: none;
    padding-left: 8px;
    width: 100%;
}

#login-form button {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
    width: 40%;
    border-radius: 3px;
    margin: 5px 4.6% 0;
    padding: 5px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: white;
    color: rgb(236, 26, 85);
}

span#error {
    font-size: 10px;
    display: block;
    width: 100%;
    height: 10px;
}
/* end login.html */
